<section class="relative px-[7%] mt-24 mb-24">
    <div>
        <h2 class="text-3xl font-[500] text-secondary">{{heading}}</h2>
        <div class="flex items-start justify-between flex-col mt-4 gap-2">
            <div class="flex items-start justify-between flex-col">
                <p class="text-lg font-[500] text-black">{{ subHeading }}</p>
                <div class="legal-content">
                    {{ content | markdown | safe }}
                </div>
            </div>
        </div>
    </div>
</section>