{% extends "layouts/base.html" %}

{% block content %}

<!-- Banner Section -->
{% include "components/shared/banner.html" %}

<!-- About Section -->
{% include "components/home/about.html" %}

<!--Services Section-->
{% include "components/about/services.html" %}

<!--Why Choose Us-->
{% include "components/about/why-choose-us.html" %}

<!--Project Section-->
{% include "components/about/projects.html" %}

{% endblock %}

{% block footer %}
{% include "components/about/footer.html" %}
{% endblock %}