{% extends "layouts/base.html" %}

{% block content %}

<!-- Hero Section -->
{% include "components/home/hero.html" %}

<!-- Service Section -->
{% include "components/home/service.html" %}

<!-- About Section -->
{% include "components/home/about.html" %}

<!-- Contact Section -->
{% include "components/home/contact.html" %}

<!-- FAQ Section -->
{% include "components/home/faq.html" %}

<!-- Testimonial Section -->
{% include "components/home/testimonial.html" %}

<!-- Know More -->
 {% include "components/home/overview.html" %}

<!-- Blog Section -->
 {% include "components/home/blog.html" %}

{% endblock %}