<section class="home-contact bg-[url('{{bgImage}}')]">
    <div class="home-contact-overlay"></div>

    <!-- Content Container -->
    <div class="home-contact-container">
        <h2 class="home-contact-heading">{{contactHeading}}</h2>

        <p class="max-w-md text-lg">{{contactDescription}}</p>

        <div class="home-contact-button-container">
            <a href="{{referenceLink1}}"
                class="home-contact-button1">
                {{referenceText1}}
            </a>
            <a href="{{referenceLink2}}"
                class="home-contact-button2">
                {{referenceText2}}
            </a>
        </div>
    </div>
</section>